<html>
    <head>
        <meta charset="UTF-8">
        <!-- mobile optimization -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="date=no">
        <meta name="format-detection" content="address=no">
        <meta name="format-detection" content="email=no">
        {{ content_for_header }}
        {{ 'application.css' | asset_url | stylesheet_tag }}
        {% if template.name == 'product' %}
            {{ 'productPage.css' | asset_url | stylesheet_tag }}
        {% endif %}

        {% if template.name == 'search' %}
            <script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
            <!-- Start of Clerk.io E-commerce Personalisation tool - www.clerk.io -->
                <script type="text/javascript">
                (function(w,d){
                var e=d.createElement('script');e.type='text/javascript';e.async=true;
                e.src=(d.location.protocol=='https:'?'https':'http')+'://cdn.clerk.io/clerk.js';
                var s=d.getElementsByTagName('script')[0];s.parentNode.insertBefore(e,s);
                w.__clerk_q=w.__clerk_q||[];w.Clerk=w.Clerk||function(){w.__clerk_q.push(arguments)};
                })(window,document);

                Clerk('config', {
                key: 'uy2y57rwCkAYQ7WeEa3IEzLIHhGmUJZb'
                });
            </script>
            <!-- End of Clerk.io E-commerce Personalisation tool - www.clerk.io -->
        {% endif %}
    </head>
  <body style="overflow: hidden;">
    {% render 'Preloader' %}
    {% section 'NewHeader' %}
    <main class="main">
        {{ content_for_layout }}
    </main>
    {% section 'NewFooter' %}
    <script src="{{ 'application.js' | asset_url }}" defer></script>
    <script>
        if ({% if template.name == 'collection' %}true{% else %}false{% endif %}) {
            window.allPageProducts = {{ collection.products | json }};
        }
            
        else {
            window.allPageProducts == false;
        }
        
        console.log(window.allPageProducts);
    </script>
  </body>
</html>
