<html>
    <head>
        <meta charset="UTF-8">
        <!-- mobile optimization -->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="date=no">
        <meta name="format-detection" content="address=no">
        <meta name="format-detection" content="email=no">
        {{ content_for_header }}
        {{ 'application.css' | asset_url | stylesheet_tag }}    
        {% comment %} {% if template.name != 'page' %}
            {% assign templateStyles = template.name | append: '.css' %}
            {{ templateStyles | asset_url | stylesheet_tag }}
        {% else %}
            {% assign templateStyles = page.handle | append: '.css' %}
            {{ templateStyles | asset_url | stylesheet_tag }}
        {% endif %} {% endcomment %}
    </head>
  <body style="overflow: hidden;">
    {% render 'Preloader' %}
    {% section 'NewHeader' %}
    {{ content_for_layout }}
    {% section 'NewFooter' %}
    <script src="{{ 'application.js' | asset_url }}" defer></script>
    {% comment %} <script src="{{ 'header.js' | asset_url }}" defer></script> {% endcomment %}
    {% comment %} {% if template.name != 'page' %}
        {% assign templateScripts = template.name | append: '.js' %}
        <script type="module" src="{{ templateScripts | asset_url }}" defer></script>
    {% else %}
        {% assign templateScripts = page.handle | append: '.js' %}
        <script type="module" src="{{ templateScripts | asset_url }}" defer></script>
    {% endif %} {% endcomment %}
  </body>
</html>
