<section
  class="logos section lazyload"
  data-section-id="{{ section.id }}"
  data-section-type="logos"
  style="background-image: url({{ section.settings.bg | img_url: '50x' }})"
  data-bg="{{ section.settings.bg | img_url: 'master' }}">
  <div class="container">
    <div class="logos__title">
      {{ section.settings.title }}
    </div>
    <div class="logos__subtitle">
      {{ section.settings.subtitle }}
    </div>
    <div class="logos__list">
      {% for block in section.blocks %}
        <div class="logos__item">
          <img
            loading="lazy"
            src="{{ block.settings.image | img_url: '400x' }}"
            alt=""
            class="lazyload logos__image">
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Logos",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      }, {
        "type": "image_picker",
        "id": "bg",
        "label": "Background"
      }
    ],
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Advanced",
        "name": "Logos"
      }
    ]
  }
{% endschema %}