<header class="header">
    {% render 'NewMobile-menu' %}
    <div class="header__announcebar">
        <h3 class="announcement">{{ section.settings.announcement }}</h3>
    </div>
    <div class="header__main">
        <a href="/" class="header__logo">{% render 'Logo', variant: 'header' %}</a>
            <div class="header__burger" data-mobile-menu-open-btn>
                {% render 'Icons-header', icon: 'burger' %}
            </div>
        <div class="header__search-btn" data-mobile-search-open-btn>
            {% render 'Icons-header', icon: 'search' %}
        </div>
        <nav class="header__menu">
            {% if template.name == 'product' %}
                <a href="{{ product.collections[0].url }}" class="back-link">
                    {% render 'Arrows', direction: 'left' %}
                    TERUG NAAR WEBSHOP
                </a>
            {% else %}
                {% for link in linklists['new-main-menu'].links %}
                    {% if link.links.size > 0 %}
                        <a href="{{ link.url }}" class="link" data-mega-menu-link="{{ link.title | upcase }}">
                            {{ link.title }}
                            {% render 'Chevron-down' %}
                        </a>

                        {% for block in section.blocks %}
                            {% assign megaMenu = block.settings %}
                            {% assign linkTitle = link.title | upcase %}

                            {% if megaMenu.title == linkTitle %}
                                <div class="megamenu dn" data-mega-menu="{{ megaMenu.title }}">
                                    <div class="megamenu__wrapper">
                                        {% for subLink in link.links %}
                                            {% assign linkImage = 'image-' | append: forloop.index %}

                                            <div class="megamenu__column">
                                                {% if megaMenu[linkImage] != blank %}
                                                    <a href="{{ subLink.url }}" class="megamenu__imwrapper">
                                                        <div class="megamenu__image">
                                                            <img src="{{ megaMenu[linkImage] | image_url }}" width="auto" height="auto" loading="lazy" class="img">
                                                            {% render 'Megamenu-image-background' %}
                                                        </div>
                                                        <div class="title">{{ subLink.title }}</div>
                                                    </a>
                                                {% endif %}

                                                {% if megaMenu[linkImage] == blank %}
                                                    <a href="{{ subLink.url }}" class="title">{{ subLink.title }}</a>
                                                    <div class="links">
                                                        {% for subSubLink in subLink.links %}
                                                            <a href="{{ subSubLink.url }}" class="links__link">{{ subSubLink.title }}</a>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>

                                            {% if forloop.index == 4 %}
                                                {% break %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                
                                {% break %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <a href="{{ link.url }}" class="link">{{ link.title }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </nav>
        <nav class="header__navigation">
            <form action="{{ routes.search_url }}" class="header__search dn" data-header-search>
                <div class="search-wrapper">
                    <button type="submit" class="search__button">{% render 'Icon-search' %}</button>
                    <input type="text" name="q" class="search__field" placeholder="Search">
                    <input type="hidden" name="type" value="product">
                    <input type="hidden" name="options[unavailable_products]" value="hide">
                    <input type="hidden" name="options[prefix]" value="last">
                    <div class="search__close-btn" data-mobile-search-close-btn>
                        {% render 'Icons-header', icon: 'rounded-close' %}
                    </div>
                </div>
            </form>
            <div class="header__favourites">
                {% render 'Icon-favourites' %}
            </div>
            <div class="header__user">
                {% render 'Icon-user' %}
            </div>
            <div class="header__cart">
                {% render 'Icon-cart' %}
                <div class="count">0</div>
            </div>
        </nav>
    </div>
</header>

{% schema %}
    {
        "name": "Header",
        "settings": [
            {
                "type": "text",
                "id": "announcement",
                "label": "Announcement title",
                "default": "Gratis verzending vanaf €59"
            }
        ],
        "blocks": [
            {
                "name": "Mega Menu",
                "type": "block",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "info": "Set title name the same as link that you want to add mega menu"
                    },
                    {
                        "type": "header",
                        "content": "Mega menu column 1"
                    },
                    {
                        "type": "image_picker",
                        "id": "image-1",
                        "label": "Image",
                        "info": "If image is set then links will be replaced"
                    },
                    {
                        "type": "header",
                        "content": "Mega menu column 2"
                    }, 
                    {
                        "type": "image_picker",
                        "id": "image-2",
                        "label": "Image",
                        "info": "If image is set then links will be replaced"
                    }, 
                    {
                        "type": "header",
                        "content": "Mega menu column 3"
                    }, 
                    {
                        "type": "image_picker",
                        "id": "image-3",
                        "label": "Image",
                        "info": "If image is set then links will be replaced"
                    }, 
                    {
                        "type": "header",
                        "content": "Mega menu column 4"
                    }, 
                    {
                        "type": "image_picker",
                        "id": "image-4",
                        "label": "Image",
                        "info": "If image is set then links will be replaced"
                    }
                ]
            }
        ]
    }
{% endschema %}