<div id="product-reviews" class="reviews">
	<div class="container">
	 <div class="reviews__title">
			<p>{{ product.title }}</p>	
			</div> 
	<div id="wc_review_section" class="wc_review_main_content" data-url="{{ shop.url }}" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}" data-limit="0"></div>
		<!-- <div id="shopify-product-reviews"></div> -->
		<!-- <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div> -->
	</div> 
</div>

