{% liquid
    render 'Section-styles', name: 'section-blog'
    render 'Section-scripts', name: 'section-blog'
%}

<style>
    .section-blog {
        margin-top: {{ section.settings.margin-top }}px;
        margin-bottom: {{ section.settings.margin-bottom }}px;
    }

    @media screen and (max-width: 576px) {
        .section-blog {
            margin-top: 140px;
            margin-bottom: 65px;
        }
    }

</style>

<section class="section-blog">
    <div class="section-blog__wrapper">
        <h1 class="section-blog__title">{{ section.settings.title }}</h1>
        <div class="section-blog__filter">
            <h4 class="section-blog__filter-title" open-filter>
                Filter by
                {% render 'Icon-pagination-arrow' %}
            </h4>
            <ul class="section-blog__filter-wrapper" filter-body>
                <li class="section-blog__filter-tag section-blog__filter-tag_uppercase active" all-posts-btn>
                    <a href="{{ blog.url }}">Alle</a>
                </li>
                {% for tag in blog.all_tags %}
                    {% assign tagHandle = tag | remove: '&' | replace: '  ', '-' | replace: ' ', '-' | remove: '(' | remove: ')' %}
                    <li class="section-blog__filter-tag" >
                        <a href="{{ blog.url }}/tagged/{{ tagHandle }}" filter-btn>{{ tag }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% paginate blog.articles by 12 %}
            <div class="section-blog__body">
                {% for article in blog.articles %}
                    <div class="article-card">
                        <a class="article-card__image" href="{{ article.url }}">
                            <img src="{{ article.image | image_url }}" alt="{{ article.image.src }}" loading="lazy" width="{{ article.image.width }}" height="{{ article.image.height }}">
                        </a>
                        <div class="article-card__date">
                            <h6>{{ article.tags[0] }}</h6>
                            {% render 'Icon-blog-date-star' %}
                            <h6>{{ article.published_at | date: "%b. %d, %Y" }}</h6>
                        </div>
                        <a href="{{ article.url }}" class="article-card__title">{{ article.title }}</a >
                    </div>
                {% endfor %}
            </div>
            {% if paginate.pages > 1 %}
                <nav class="section-blog__pagination">
                    {% if paginate.previous.url %}
                        <a href="{{ paginate.previous.url }}" class="prew-button">{% render 'Icon-pagination-arrow' %}</a>
                    {% endif %}
                    
                    {% for part in paginate.parts %}
                            {% if part.is_link %}
                            <a href="{{ part.url }}" class="page-button">{{ part.title }}</a>
                        {% else %}
                            <span class="curr-page-button">{{ part.title }}</span>
                            {% endif %}
                    {% endfor %}

                    {% if paginate.next.url %}
                        <a href="{{ paginate.next.url }}" class="next-button">{% render 'Icon-pagination-arrow' %}</a>
                    {% endif %}
                </nav>
            {% endif %}
        {% endpaginate %}
    </div>
</section>

{% schema %}
    {
        "name": "Blog template",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Recepten waar superfoodies van houden"
            },
            {
                "type": "range",
                "id": "margin-top",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Margin top",
                "default": 160
            },
            {
                "type": "range",
                "id": "margin-bottom",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Margin bottom",
                "default": 105
            }
        ],
        "blocks": [
            {
                "name": "Item",
                "type": "block",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "item-logo",
                        "label": "Partner logo"
                    },
                    {
                        "type": "url",
                        "id": "item-url",
                        "label": "Partner link"
                    }
                ]
            }
        ],
        "presets": [

        ]
    }
{% endschema %}
