{% liquid
    render 'Section-styles', name: 'section-iwv'
%}

{% comment %} render 'Section-scripts', name: 'section-iwv' {% endcomment %}

<style>
    #shopify-section-{{ section.id }} .section-iwv {
        padding-top: {{ section.settings.padding-top }}px;
        padding-bottom: {{ section.settings.padding-bottom }}px;
    }

    {% if section.settings.reversed == 'false' %}
    #shopify-section-{{ section.id }} .section-iwv__wrapper {
            justify-content: flex-end;
        }
    {% else %}
    #shopify-section-{{ section.id }} .section-iwv__wrapper {
            flex-direction: row-reverse;
        }
    {% endif %}

    @media screen and (max-width: 991px) {
        #shopify-section-{{ section.id }} .section-iwv__wrapper {
            flex-direction: column-reverse;
            gap: 20px;
        }
    }

    @media screen and (max-width: 768px) {
        #shopify-section-{{ section.id }} .section-iwv {
            padding-top: 30px;
            padding-bottom: 10px;
        }
    }
</style>

<section class="section-iwv">
    {% if section.settings.background != 'none' %}
        {% render 'Section-backgrounds', background: section.settings.background %}
    {% endif %}
    <div class="section-iwv__wrapper">
        <div class="section-iwv__info">
            <h2 class="title">{{ section.settings.title }}</h2>
            <div class="description">{{ section.settings.description }}</div>
        </div>
        <div class="section-iwv__container" data-video-container>
            <video class="section-iwv__video" src="{{ section.settings.video.sources[1].url }}" playsinline loop data-video></video>
            <div class="video__playzone" data-video-playzone></div>
            <div class="video__button" data-video-btn="play">
                {% render 'Video-buttons', icon: 'play' %}
            </div>
            <div class="video__button hidden dn" data-video-btn="pause">
                {% render 'Video-buttons', icon: 'pause' %}
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Info with video",
        "settings": [
            {
                "type": "select",
                "id": "reversed",
                "label": "Reversed",
                "options": [
                    {
                        "value": "true",
                        "label": "Yes"
                    },
                    {
                        "value": "false",
                        "label": "No"
                    }
                ],
                "default": "false"
            },
            {
                "type": "textarea",
                "id": "title",
                "label": "Title",
                "default": "Lorem Ipsum Dolorem"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Description",
                "info": "Use <br> to break a line",
                "default": "Rijk aan mineralen en antioxidanten <br> Bevat 15 van de 18 voor de mens essentiële mineralen, waaronder calcium, jodium, kalium, magnesium en ijzer. Bevat daarnaast vitamine A, B, C, D, E, F en K, eiwitten en antioxidanten (bètacaroteen)"
            },
            {
                "type": "range",
                "id": "padding-top",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding top",
                "default": 80
            },
            {
                "type": "range",
                "id": "padding-bottom",
                "min": 0,
                "max": 200,
                "step": 5,  
                "unit": "px",
                "label": "Padding bottom",
                "default": 15
            },
            {
                "type": "video",
                "id": "video",
                "label": "Video"
            },
            {
                "type": "select",
                "id": "background",
                "label": "Background",
                "options": [
                    {
                        "value": "none",
                        "label": "None"
                    },
                    {
                        "value": "rays",
                        "label": "Rays"
                    }
                ],
                "default": "none"
            }
        ],
        "presets": [
            {
                "name": "Info with video",
                "settings": {

                }
            }
        ]
    }
{% endschema %}
