{% liquid
    render 'Section-styles', name: 'section-product'
    render 'Section-scripts', name: 'section-product'
%}

<style>
    .section-product {
        margin-top: {{ section.settings.margin-top }}px;
        margin-bottom: {{ section.settings.margin-bottom }}px;
    }
</style>

<section class="section-product">
    <div class="section-product__wrapper">
        <div class="section-product__images">
            <img src="{{ product.featured_image | image_url }}" alt="{{ product.alt }}" width="auto" height="auto" loading="lazy" class="featured-image" id="product_feature-image">
            <div class="slider" data-product-slider>
                <div class="swiper-button-prev" data-swiper-button-prev="product"></div>
                <div class="swiper-container" data-swiper-container>
                    <div class="swiper-wrapper">
                        {% for image in product.images %}
                            <div class="swiper-slide {% if forloop.first %}current{% endif %}" data-swiper-slide>
                                <img src="{{ image | image_url }}" alt="{{ image.alt }}" width="auto" height="auto" loading="lazy" class="img" data-swiper-slide-img>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="swiper-button-next" data-swiper-button-next="product"></div>
            </div>
        </div>
        <div class="section-product__info">
                    <div class="wrapper" product-selector="{% if product.variants.size > 1 %}{{ product.variants[0].id }}{% else %}{{ product.id }}{% endif %}">
                <div class="head">
                    <div class="head__title">“Heerlijke Zaadjes Voor In De Havermout Of Over Een Smoothie.”</div>
                    <div class="head__subtitle">— Lotte A., Gepelde hennep zaden klant</div>
                </div>
                <h1 class="title">{{ product.title }}</h1>
                <div class="reviews">
                    4.7
                    <span class="reviews__stars">
                        {% for start in (1..5) %}
                            {% render 'Icon-star' %}
                        {% endfor %}
                    </span>
                    MEER DAN 1.000 REVIEWS
                </div>
                <div class="description">{{ product.description }}</div>
                {% if product.metafields.labels != blank %}
                    <div class="labels">
                        {% for label in product.metafields.labels.label %}
                            <div class="labels__item">
                                {% render 'Icons', icon: 'label' %} {{ label }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="format">
                    <div class="format__title">KIES FORMAAT:</div>
                    <div class="format__wrapper">
                        {% for option in product.options_with_values %}
                            {% if option.name == 'Size' %}
                                {% for value in option.values %}
                                    <div class="format__item {% if forloop.first %}active{% endif %}">{{ value }}</div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        <div class="format__stock">
                            {% if product.variants[0].avaliable %}
                                Op voorraad
                            {% else %}
                                Niet op voorraad
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <div class="buttons__counter-wrapper">
                        <div class="price">{{ product.variants[0].price | money | replace: '.' , ',' }}</div>
                        <select name="quantity" autocomplete="off" class="buttons__counter" data-product-quantity>
                            {% assign inventoryQuantity = product.variants[0].inventory_quantity %}
                            {% assign inventoryQuantityRange = (1..inventoryQuantity) %}
                            {% for item in inventoryQuantityRange %}
                                <option value="{{ item }}" {% if item == forloop.first %}selected{% endif %}>{{ item }}</option>
                            {% endfor %}
                        </select>
                        {% render 'Chevrons', direction: 'down' %}
                    </div>
                    <div class="buttons__submit" data-procut-cart-buybtn>VOEG TOE</div>
                    <div class="buttons__favourites">
                        {% render 'Icons', icon: 'hearth' %}
                    </div>
                </div>
                {% if product.metafields.labels != blank %}
                    <div class="labels mobile">
                        {% for label in product.metafields.labels.label %}
                            <div class="labels__item">
                                {% render 'Icons', icon: 'label' %} {{ label }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="reviews mobile">
                    4.7
                    <span class="reviews__stars">
                        {% for start in (1..5) %}
                            {% render 'Icon-star' %}
                        {% endfor %}
                    </span>
                </div>
                {% render 'Payments', color: 'light-brown', margin: '0 0 30px 0' %}
                {% render 'Info-items' %}
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Product section",
        "settings": [
            {
                "type": "textarea",
                "id": "description",
                "label": "Description",
                "info": "Use <br> to break a line"
            },
            {
                "type": "header",
                "content": "Info items"
            },
            {
                "type": "textarea",
                "id": "item-icon-1",
                "info": "Put an svg icon code here",
                "label": "Item 1 icon"
            },
            {
                "type": "textarea",
                "id": "item-title-1",
                "label": "Item 1 title",
                "default": "Vóór 21:00 besteld (ZO-VR), morgen in huis* *BELGIË 14:30"
            },
            {
                "type": "textarea",
                "id": "item-icon-2",
                "info": "Put an svg icon code here",
                "label": "Item 2 icon"
            },
            {
                "type": "textarea",
                "id": "item-title-2",
                "label": "Item 2 title",
                "default": "Gratis verzending vanaf €59, anders €4,90"
            },
            {
                "type": "textarea",
                "id": "item-icon-3",
                "info": "Put an svg icon code here",
                "label": "Item 3 icon"
            },
            {
                "type": "textarea",
                "id": "item-title-3",
                "label": "Item 3 title",
                "default": "Hoogste kwaliteit producten, bezorgd in heel Europa"
            },
            {
                "type": "textarea",
                "id": "item-icon-4",
                "info": "Put an svg icon code here",
                "label": "Item 4 icon"
            },
            {
                "type": "textarea",
                "id": "item-title-4",
                "label": "Item 4 title",
                "default": "Beste klantenservice & retourneren mogelijk"
            }
        ]
    }
{% endschema %}

