{% liquid
    render 'Section-styles', name: 'section-contact'
    render 'Section-scripts', name: 'section-contact'
%}

<style>
    .section-contact {
        margin-top: {{ section.settings.margin-top }}px;
        margin-bottom: {{ section.settings.margin-bottom }}px;
    }
    


</style>

<section class="section-contact">
    {% render 'Section-backgrounds', background: "vegetable-4" %}  
    <div class="section-contact__wrapper">
        <h1 class="section-contact__title">{{ section.settings.title }}</h1>
        <div class="section-contact__description">{{ section.settings.subtitle }}</div>
        <h3 class="section-contact__form-title">{{ section.settings.form-title }}</h3>
        <div class="section-contact__body">
            <div class="section-contact__form">
                {% form 'contact' %}
                    <input type="text" id="ContactFormName" name="contact[name]" placeholder="Name *">
                    <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="Email">
                    <input type="tel" id="ContactFormPhone" name="contact[phone]" placeholder="telefoonnummer *">
                    <textarea rows="10" id="ContactFormMessage" name="contact[body]" placeholder="Uw  bericht"></textarea>
                    <input type="submit" value="Verstuur">
                    {% if form.posted_successfully %} Thank you for your contact {% endif %}
                    {{ form.errors | default_errors }}
              {% endform %}
            </div>
            <div class="section-contact__info">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'phone_number' %}
                            <div class="section-contact__phone-numbers section-contact__info-block">
                                <h4>{{ block.settings.title }}</h4>
                                <ul>
                                    <li>
                                        <a href="tel:{{ block.settings.num-1 }}">{{ block.settings.num-1 }} {{ block.settings.num-1-text }}</a>
                                    </li>
                                    <li>
                                        <a href="tel:{{ block.settings.num-2 }}">{{ block.settings.num-1 }} {{ block.settings.num-2-text }}</a> 
                                    </li>
                                </ul>
                            </div>
                        {% when 'email' %}
                            <div class="section-contact__email section-contact__info-block">
                                <h4>{{ block.settings.title }}</h4>
                                <a href="mailto:{{ block.settings.email }}">{{ block.settings.email }}</a>
                            </div>
                        {% when 'social' %}
                            <div class="section-contact__social section-contact__info-block">
                                <h4>{{ block.settings.title }}</h4>
                                <ul>
                                    <a href="{{ block.settings.url-1 }}">
                                        {% if block.settings.img-1 != blank %}
                                            <img src="{{ block.settings.img-1 | image_url }}" alt="{{ block.settings.img-1.alt }}" loading="lazy" width="{{ block.settings.img-1.width }}" height="{{ block.settings.img-1.height }}" >
                                        {% else %}
                                            {% render 'Icon-facebook' %}
                                        {% endif %}
                                    </a>
                                    <a href="{{ block.settings.url-2 }}">
                                        {% if block.settings.img-2 != blank %}
                                            <img src="{{ block.settings.img-2 | image_url }}" alt="{{ block.settings.img-2.alt }}" loading="lazy" width="{{ block.settings.img-2.width }}" height="{{ block.settings.img-2.height }}" >
                                        {% else %}
                                            {% render 'Icon-instagram' %}
                                        {% endif %}
                                    </a>
                                    <a href="{{ block.settings.url-3 }}">
                                        {% if block.settings.img-3 != blank %}
                                            <img src="{{ block.settings.img-3 | image_url }}" alt="{{ block.settings.img-3.alt }}" loading="lazy" width="{{ block.settings.img-3.width }}" height="{{ block.settings.img-3.height }}" >
                                        {% else %}
                                            {% render 'Icon-youtube' %}
                                        {% endif %}
                                    </a>
                                </ul>
                            </div>
                        {% when 'textual' %}
                            <div class="section-contact__text section-contact__info-block">
                                {{ block.settings.text }}
                            </div>
                        {% when 'address' %}
                            <div class="section-contact__address section-contact__info-block">
                                <h4>{{ block.settings.title }}</h4>
                                {{ block.settings.address }}
                            </div>
                    {% endcase %}
                {% endfor %}
            </div>
        </div> 
    </div>
</section>


{% schema %}
    {
        "name": "Contact",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Contact"
            },
            {
                "type": "richtext",
                "id": "subtitle",
                "label": "Description",
                "default": "<p>Wil je met ons in contact komen?<br/>Dat kan door simpelweg dit formulier in te vullen of door middel van e-mail, telefoon of live chat.<br/>Superfoods BV is bereikbaar van maandag t/m vrijdag 09:00 — 18:00<br/>(kerstdagen en nieuwjaarsdag uitgezonderd</p>"
            },
            {
                "type": "text",
                "id": "form-title",
                "label": "Form title",
                "default": "LAAT EEN BERICHT ACHTER"
            },
            {
                "type": "range",
                "id": "margin-top",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Margin top",
                "default": 0
            },
            {
                "type": "range",
                "id": "margin-bottom",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Margin bottom",
                "default": 0
            }
        ],
        "blocks": [
            {
                "name": "Phone number",
                "type": "phone_number",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Telefoonnummer"
                    },
                    {
                        "type": "text",
                        "id": "num-1",
                        "label": "Number 1",
                        "default": "+31(0)20 700 98 57"
                    },
                    {
                        "type": "text",
                        "id": "num-1-text",
                        "label": "Text after number 1"
                    },
                    {
                        "type": "text",
                        "id": "num-2",
                        "label": "Number 2",
                        "default": "+31(0)6 2790 5385"
                    },
                    {
                        "type": "text",
                        "id": "num-2-text",
                        "label": "Text after number 2",
                        "default": "(WhatsApp)"
                    }
                ]
            },
            {
                "name": "Email",
                "type": "email",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Email"
                    },
                    {
                        "type": "text",
                        "id": "email",
                        "label": "Email",
                        "default": "info@superfoodies.nl"
                    }
                ]
            },
            {
                "name": "Socail media",
                "type": "social",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Volg ons"
                    },
                    {
                        "type": "image_picker",
                        "id": "img-1",
                        "label": "Social media 1 icon"
                    },
                    {
                        "type": "url",
                        "id": "url-1",
                        "label": "Social media 1 url"
                    },
                    {
                        "type": "image_picker",
                        "id": "img-2",
                        "label": "Social media 2 icon"
                    },
                    {
                        "type": "url",
                        "id": "url-2",
                        "label": "Social media 2 url"
                    },
                    {
                        "type": "image_picker",
                        "id": "img-3",
                        "label": "Social media 3 icon"
                    },
                    {
                        "type": "url",
                        "id": "url-3",
                        "label": "Social media 3 url"
                    }
                ]
            },
            {
                "name": "Textual",
                "type": "textual",
                "settings": [
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text content"
                    }
                ]
            },
            {
                "name": "Address",
                "type": "address",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Address"
                    },
                    {
                        "type": "richtext",
                        "id": "address",
                        "label": "Address"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Contact section",
                "settings": {

                }
            }
        ]
    }
{% endschema %}
