{% liquid
    render 'Section-styles', name: 'section-pwi'
%}
{% comment %} render 'Section-scripts', name: 'section-pwi' {% endcomment %}

<style>
    .section-pwi {
        padding-top: {{ section.settings.padding-top }}px;
        padding-bottom: {{ section.settings.padding-bottom }}px;
    }
</style>

<section class="section-pwi">
    {% if section.settings.background != 'none' %}
        {% render 'Section-backgrounds', background: section.settings.background %}
    {% endif %}
    <div class="section-pwi__wrapper">
        <div class="section-pwi__info">
            <h2 class="section-pwi__title">{{ section.settings.title }}</h2>
            {% if section.settings.link-url != blank %}
                <a href="{{ section.settings.link-url }}" class="section-pwi__link">{{ section.settings.link-title }}</a>
            {% endif %}
        </div>
        <div class="section-pwi__products">
            {% for block in section.blocks %}
                {% render 'Product-card', product: block.settings.product %}
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Products with info",
        "settings": [
            {
                "type": "textarea",
                "id": "title",
                "label": "Info",
                "default": "Onze bestsellers"
            },
            {
                "type": "text",
                "id": "link-title",
                "label": "Link title"
            },
            {
                "type": "url",
                "id": "link-url",
                "label": "Link url"
            },
            {
                "type": "range",
                "id": "padding-top",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding top",
                "default": 40
            },
            {
                "type": "range",
                "id": "padding-bottom",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding bottom",
                "default": 25
            },
            {
                "type": "select",
                "id": "background",
                "label": "Background",
                "options": [
                    {
                        "value": "none",
                        "label": "None"
                    },
                    {
                        "value": "rays",
                        "label": "Rays"
                    },
                    {
                        "value": "corn",
                        "label": "Corn"
                    }
                ],
                "default": "none"
            },
            {
                "type": "text",
                "id": "product-card-button",
                "label": "Product cart buttons title",
                "info": "Change product cart buttons title special for this section"
            }
        ],
        "blocks": [
            {
                "name": "Product",
                "type": "block",
                "limit": 3,
                "settings": [
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Product"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Products with info",
                "settings": {

                }
            }
        ]
    }
{% endschema %}
