{% liquid
    render 'Section-styles', name: 'section-hero'
    render 'Section-scripts', name: 'section-hero'
%}

<section class="section-hero">
    {% if section.settings.bg-image != blank %}
        <img src="{{ section.settings.bg-image | image_url }}" alt="{{ section.settings.bg-image.alt }}" width="auto" height="auto" loading="lazy" class="section-hero__bg-image gradient">
        <div class="section-hero__bg-gradient"></div>
    {% else %}
        <img src="{{ 'Hero_BG.png' | asset_url }}" alt="hero background image" width="auto" height="auto" loading="lazy" class="section-hero__bg-image">
    {% endif %}
    <div class="section-hero__wrapper">
        <div>
            <div class="section-hero__suptitle">{{ section.settings.suptitle }}</div>
            <h1 class="section-hero__title">{{ section.settings.title }}</h1>
        </div>
        <div id="heroSliderContainer" class="section-hero__slider overflow-hidden">
            <div id="hero-slider" class="swiper-container">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        {% render 'Product-card', product: block.settings.product, doppleClass: 'swiper-slide' %}
                    {% endfor %}
                </div>
            </div>
            <!-- Navigation buttons -->
            <div class="swiper-button-prev" data-wiper-button-prev="hero-slider"></div>
            <div class="swiper-button-next" data-wiper-button-next="hero-slider"></div>
        </div>
        {% comment %} <div class="section-hero__slider">
            {% render 'Product-card', product: section.settings.product %}
        </div> {% endcomment %}
    </div>
</section>

{% schema %}
    {
        "name": "Hero section",
        "settings": [
            {
                "type": "image_picker",
                "id": "bg-image",
                "label": "Background image"
            },
            {
                "type": "textarea",
                "id": "suptitle",
                "label": "Suptitle",
                "info": "Use <br> to break a line"
            },
            {
                "type": "textarea",
                "id": "title",
                "label": "Title",
                "info": "Use <br> to break a line"
            }
        ],
        "blocks": [
            {
                "name": "Product",
                "type": "block",
                "limit": 4,
                "settings": [
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Product"
                    }
                ]
            }
        ]
    }
{% endschema %}