{% liquid
    render 'Section-styles', name: 'section-subscribe'
    render 'Section-scripts', name: 'section-subscribe'
%}

<style>
    .section-subscribe {
        margin-top: {{ section.settings.margin-top }}px;
        margin-bottom: {{ section.settings.margin-bottom }}px;
    }
</style>

<section class="section-subscribe">
    {% if section.settings.bg-image %}
        <img src="{{ section.settings.bg-image | image_url }}" width="auto" height="auto" loading="lazy" class="section-subscribe__background">
    {% else %}
        <img src="{{ 'Contact_BG.png' | asset_url }}" width="auto" height="auto" loading="lazy" class="section-subscribe__background">
    {% endif %}
    <div class="section-subscribe__wrapper">
        {% if section.settings.slogan %}
            <div class="section-subscribe__slogan">{{ section.settings.slogan }}</div>
        {% endif %}
        <h2 class="section-subscribe__title">{{ section.settings.title }}</h2>
        <div class="section-subscribe__description">{{ section.settings.description }}</div>
        {% form 'contact' %}
            <input name="contact[tags]" type="hidden" value="prospect, newsletter">
            <input id="subscription-input" name="contact[email]" type="input" placeholder="{{ section.settings.form-email-placeholder }}" class="input">
            <button type="submit" class="submit">{{ section.settings.form-submit-title }}</button>
            
            {% if form.posted_successfully? %}
                <div class="success-modal active" id="success-modal">
                    <div class="success-modal__modal">
                        <div class="success-modal__close">{% render 'icon-close' %}</div>
                        Je bericht is succesvol verzonden
                    </div>
                </div>
            {% endif %}
        {% endform %}
    </div>
</section>

{% schema %}
    {
        "name": "Subscribe section",
        "settings": [
            {
                "type": "image_picker",
                "id": "bg-image",
                "label": "Background image"
            },
            {
                "type": "textarea",
                "id": "slogan",
                "label": "Slogan",
                "info": "Put an svg icon code here"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "LOREM IPSUM DOLOR SIT AMET CONSECTE"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Description",
                "info": "Use <br> to break a line",
                "default": "Meld je aan voor GRATIS gezondheidstips, kortingscodes, meldingen over productlanceringen en speciale aanbiedingen"
            },
            {
                "type": "text",
                "id": "form-email-placeholder",
                "label": "Email input placeholder",
                "default": "Uw e-mailadres"
            },
            {
                "type": "text",
                "id": "form-submit-title",
                "label": "Submit button title",
                "default": "AANMELDEN"
            },
            {
                "type": "range",
                "id": "margin-top",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Margin top",
                "default": 0
            },
            {
                "type": "range",
                "id": "margin-bottom",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Margin bottom",
                "default": 0
            }
        ],
        "presets": [
            {
                "name": "Subscribe section",
                "settings": {

                }
            }
        ]
    }
{% endschema %}
