{% liquid
    render 'Section-styles', name: 'section-categories'
%}

{% comment %} render 'Section-scripts', name: 'section-categories' {% endcomment %}

<style>
    .section-categories {
        padding-top: {{ section.settings.padding-top }}px;
        padding-bottom: {{ section.settings.padding-bottom }}px;
    }
</style>

<section class="section-categories">
    {% if section.settings.background != 'none' %}
        {% render 'Section-backgrounds', background: section.settings.background %}
    {% endif %}
    <div class="section-categories__wrapper">
        <h2 class="section-categories__title">{{ section.settings.title }}</h2>
        <div class="section-categories__container">
            {% for block in section.blocks %}
                {% assign category = block.settings.category %}
                <a href="{{ category.url }}" class="category">
                    <img src="{{ category.image | image_url }}" alt="{{ category.alt }}" width="auto" height="auto" loading="lazy" class="category__image">
                    <div class="category__title">{{ category.title }}</div>
                </a>
            {% endfor %}
        </div>
        {% if section.settings.link-url != blank %}
            <a href="{{ section.settings.link-url }}" class="section-categories__all">{{ section.settings.link-title }}</a>
        {% endif %}
    </div>
</section>

{% schema %}
    {
        "name": "Categories section",
        "settings": [
            {
                "type": "textarea",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "range",
                "id": "padding-top",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding top",
                "default": 45
            },
            {
                "type": "range",
                "id": "padding-bottom",
                "min": 0,
                "max": 200,
                "step": 5,  
                "unit": "px",
                "label": "Padding bottom",
                "default": 45
            },
            {
                "type": "select",
                "id": "background",
                "label": "Background",
                "options": [
                    {
                        "value": "none",
                        "label": "None"
                    },
                    {
                        "value": "vegetables",
                        "label": "Vegetables"
                    }
                ],
                "default": "none"
            },
            {
                "type": "text",
                "id": "link-title",
                "label": "Link title"
            },
            {
                "type": "url",
                "id": "link-url",
                "label": "Link url"
            }
        ],
        "blocks": [
            {
                "name": "Category",
                "type": "block",
                "limit": 6,
                "settings": [
                    {
                        "type": "collection",
                        "id": "category",
                        "label": "Category"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Categories section",
                "settings": {

                }
            }
        ]
    }
{% endschema %}
