{% liquid
    render 'Section-styles', name: 'section-iwi'
%}

{% comment %} render 'Section-scripts', name: 'section-iwi' {% endcomment %}

<style>
    .section-iwi {
        padding-top: {{ section.settings.padding-top }};
        padding-bottom: {{ section.settings.padding-bottom }};
    }
</style>

<section class="section-iwi">
    <div class="section-iwi__wrapper">
        <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt }}" width="auto" height="auto" loading="lazy" class="section-iwi__image">
        <div class="section-iwi__info">
            <div class="section-iwi__suptitle">{{ section.settings.suptitle }}</div>
            <h2 class="section-iwi__title">{{ section.settings.title }}</h2>
            {% if section.settings.link-url != blank %}
                <a href="{{ section.settings.link-url }}" class="section-iwi__link">{{ section.settings.link-title }}</a>
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Image with info",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "textarea",
                "id": "suptitle",
                "label": "Suptitle"
            },
            {
                "type": "textarea",
                "id": "title",
                "label": "Title",
                "info": "Use <br> to break the line"
            },
            {
                "type": "text",
                "id": "link-title",
                "label": "Link title"
            },
            {
                "type": "url",
                "id": "link-url",
                "label": "Link url"
            },
            {
                "type": "range",
                "id": "padding-top",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding top",
                "default": 25
            },
            {
                "type": "range",
                "id": "padding-bottom",
                "min": 0,
                "max": 200,
                "step": 5,
                "unit": "px",
                "label": "Padding bottom",
                "default": 30
            }
        ],
        "presets": [
            {
                "name": "Image with info",
                "settings": {

                }
            }
        ]
    }
{% endschema %}
