<div class="container blog">
  <div class="blog__heading">
    <div class="breadcrumb-wrapper">
      <nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="breadcrumb">
        <ol class="breadcrumb__list">
          <li class="breadcrumb__item">
            <a class="breadcrumb__link link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a>
            <div class="breadcrumb-split">
              /
            </div>
          </li>

          <li class="breadcrumb__item">
            {%- if collection -%}
              <a class="breadcrumb__link link" href="{{ collection.url }}">{{ collection.title }}</a>
              <div class="breadcrumb-split">
                /
              </div>
              {%- elsif blog -%}
              <a class="breadcrumb__link link" href="{{ blog.url }}">{{- blog.title -}}</a>
            {%- else -%}
              <a class="breadcrumb__link link" href="{{ routes.all_products_collection_url }}">{{- 'collection.general.all_products' | t -}}</a>
              <div class="breadcrumb-split">
                /
              </div>
            {%- endif -%}
          </li>

          <li class="breadcrumb__item">
            <span class="breadcrumb__link" aria-current="page">{{ product.title }}</span>
          </li>
        </ol>
      </nav>
    </div>
    <div class="blog__title">
      {{ blog.title }}
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-md-none">
      {% section 'blog-tags' %}
    </div>
    <div class="col-12 col-md-8">
      {%- section 'blog-template' -%}
    </div>
    <div class="col-12 col-md-4">
      <div class="d-none d-md-block">
        {% section 'blog-tags' %}
      </div>
      <!-- <div class="blog__newsletter">
        {% section 'activecampaign-NL' %}
      </div> -->
      <!-- {% section 'blog-products' %} -->
    </div>
  </div>
</div>
{% section 'activecampaign-NL' %}
